{{#each plants as |plant|}}
  {{log plant}}
  <section data-id="{{plant.id}}"> <!--like data index-->
    <h6>Name:</h6>
    <h3>
      {{plant.commonName}}
    </h3>
    <h6>Water Requirements:</h6>
    <p>
      {{#if plant.waterReq}}
        {{plant.waterReq}}
      {{else}}
        No requirements provided.
      {{/if}}
    </p>

  </section>

{{/each}}
