{{#each plants as |plant|}}
  {{log plant}}
  <section data-id="{{plant._id}}"> <!--like data index-->
    <h6>Name:</h6>
    <h3>
      {{plant.commonName}}
    </h3>
    <h6>Water Requirements:</h6>
    <p>
      {{#if plant.waterReq}}
        {{plant.waterReq}}
      {{else}}
        No requirements provided.
      {{/if}}
    </p>
  </section>

  <section id="update-plant-section" data-id="{{plant._id}}">
    <p class="hr">Update Plant</p>

    <form action="" class="update-plant-form form" data-id="{{plant._id}}">

      <div class="form-group">
        <label for="common-name">Common Name</label>
        <input required type="text" placeholder="Common Name" name="plant[commonName]">
      </div>

      <div class="form-group">
        <label for="species-name">Species Name</label>
        <input required type="text" placeholder="Species Name" name="plant[speciesName]">
      </div>

      <div class="form-group">
        <label for="nick-name">Nick Name</label>
        <input required type="text" placeholder="Nick Name" name="plant[nickName]">
      </div>

      <div class="form-group">
        <label for="water-req">Water Requirements</label>
        <input required type="text" placeholder="Water Requirements" name="plant[waterReq]">
      </div>

      <div class="form-group">
        <label for="sun-req">Sun Requirements</label>
        <input required type="text" placeholder="Sun Requirements" name="plant[sunReq]">
      </div>

      <div class="form-group">
        <label for="soil-req">Soil Requirements</label>
        <input required type="text" placeholder="Soil Requirements" name="plant[soilReq]">
      </div>

      <button type='submit' class="update-plant">Update</button>

    </form>

  </section>

  <section id="delete-plant-section" data-id="{{plant._id}}">

    <button class="btn btn-primary remove-plant" data-id="{{plant._id}}">Delete Plant</button>

  </section>

{{/each}}
